<tr>
  <td class="row_header"  colspan="2">Images</td>
</tr>
<tr>
  <td colspan="2">
    Primary Image: <%= file_field :attachment,:file1%> <br/>
    Additional Images: <br/>
    <%= file_field :attachment,:file2%> <br/>
    <%= file_field :attachment,:file3%> <br/>
    <%= file_field :attachment,:file4%> <br/>
    <%= file_field :attachment,:file5%> <br/>
  </td>
</tr>
