$('#offer_form').before('<div class="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');  
$('#offer_form')[0].reset();
window.setTimeout("$(\".flash_notice\").slideUp('slow').remove()",2500);
